<div>
  <h2 id="page-heading" data-cy="PaymentFeesHeading">
    <span jhiTranslate="canyonMeApp.paymentFees.home.title">Payment Fees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="canyonMeApp.paymentFees.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payment-fees"
        [routerLink]="['/entities/payment-fees/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="canyonMeApp.paymentFees.home.createLabel"> Create a new Payment Fees </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="paymentFees?.length === 0">
    <span jhiTranslate="canyonMeApp.paymentFees.home.notFound">No paymentFees found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="paymentFees && paymentFees.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="canyonMeApp.paymentFees.paymentMode">Payment Mode</span></th>
          <th scope="col"><span jhiTranslate="canyonMeApp.paymentFees.fees">Fees</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paymentFees of paymentFees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/entities', 'payment-fees', paymentFees.id, 'view']">{{ paymentFees.id }}</a>
          </td>
          <td>{{ paymentFees.paymentMode }}</td>
          <td>{{ paymentFees.fees }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/entities', 'payment-fees', paymentFees.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/entities', 'payment-fees', paymentFees.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(paymentFees)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
