.tool-footer {
  display: flex;
  position: sticky;
}

.net-icon {
  margin-left: 15px;
}

a:hover {
  text-decoration: none;
}

.footer-adress {
  font-size: small;
  line-height: normal;
}

.footer-copyright {
  margin-left: auto;
}

.list-icons {
  margin-left: auto;
}
