.main-container {
  display: flex;
  flex-direction: row;
}

.no-item {
  min-width: 250px;
}

.cart-item-card {
  margin-right: 50px;
  margin-bottom: 20px;
  max-height: 400px;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.item-detail {
  width: 300px;
}

.detail-img {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.detail-name {
  width: 300px;
  text-align: start;
}

.detail-quantity {
  width: 270px;
  text-align: center;
}

.detail-price {
  width: 150px;
  text-align: end;
}

.labels {
  height: 50px;
  position: relative;
}

.mat-divider-vertical {
  height: 30px;
  width: 0px !important;
  position: inherit !important;
}

.vdivider {
  border-top: 2px solid rgba($color: #000000, $alpha: 0.1);
}

::ng-deep .cart-item-card-button {

  transform: scale(0.8) !important;
}

.button-minus {
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 15px;
}

.span-quantity {
  display: inline-block;
  text-align: center;
  min-width: 50px;
}

.button-plus {
  border-top-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 0px;
  margin-right: 10px;
}

.cart-item-card-button mat-icon {
  transform: scale(1.2);
}

.order-card {
  background-color: #eeeeee;
  display: block;
  position: sticky;
  top: 75px;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 230px;
}

@media screen and (max-width: 1074px) {
  .cart-item-card {
    justify-content: center;
  }

  .item-card-content {
    flex-direction: column;
    flex: inherit;
    align-items: start;
  }

  .detail-name {
    width: 300px;
    text-align: start;
  }

  .detail-quantity {
    width: 270px;
    text-align: start;
  }

  .detail-price {
    width: 270px;
    text-align: start;
  }

  .order-card {
    bottom: 0;
  }

  .labels {
    display: none;
  }

  .mat-divider-vertical {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .main-container {
    flex-direction: column;
  }

  .cart-item-card {
    width: 100%;
  }

  .order-card {
    background-color: #ddd;
    border-top: 1px solid #AAA;
    min-width: 250px;
  }
}
