.cart-card-container{
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-item-card {
  max-height: 200px;
  background-color: #EEEEEE;
}

.cart-item-card-button{
  background-color: #DDD;
}

.order-card{
  max-height: 200px;
  background-color: #EEEEEE;
  display: block;
  position: sticky;
  top: 20px;
}