<div>
  <h2 id="page-heading" data-cy="PurchaseOrderHeading">
    <span jhiTranslate="canyonMeApp.purchaseOrder.home.title">Purchase Orders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="canyonMeApp.purchaseOrder.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-purchase-order"
        [routerLink]="['/purchase-order/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="canyonMeApp.purchaseOrder.home.createLabel"> Create a new Purchase Order </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="purchaseOrders?.length === 0">
    <span jhiTranslate="canyonMeApp.purchaseOrder.home.notFound">No purchaseOrders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="purchaseOrders && purchaseOrders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="canyonMeApp.purchaseOrder.id">Id</span></th>
          <th scope="col"><span jhiTranslate="canyonMeApp.purchaseOrder.orderDate">Order Date</span></th>
          <th scope="col"><span jhiTranslate="canyonMeApp.purchaseOrder.orderStateId">Order State Id</span></th>
          <th scope="col"><span jhiTranslate="canyonMeApp.purchaseOrder.shippingMode">Shipping Mode</span></th>
          <th scope="col"><span jhiTranslate="canyonMeApp.purchaseOrder.shippingFees">Shipping Fees</span></th>
          <th scope="col"><span jhiTranslate="canyonMeApp.purchaseOrder.paymentMode">Payment Mode</span></th>
          <th scope="col"><span jhiTranslate="canyonMeApp.purchaseOrder.paymentFees">Payment Fees</span></th>
          <th scope="col"><span jhiTranslate="canyonMeApp.purchaseOrder.clientId">Client Id</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchaseOrder of purchaseOrders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/purchase-order', purchaseOrder.id, 'view']">{{ purchaseOrder.id }}</a>
          </td>
          <td>{{ purchaseOrder.orderDate | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'canyonMeApp.OrderState.' + purchaseOrder.orderStateId }}">{{ purchaseOrder.orderStateId }}</td>
          <td>{{ purchaseOrder.shippingMode }}</td>
          <td>{{ purchaseOrder.shippingFees }}</td>
          <td>{{ purchaseOrder.paymentMode }}</td>
          <td>{{ purchaseOrder.paymentFees }}</td>
          <td>
            <div *ngIf="purchaseOrder.clientId">
              <a [routerLink]="['/client', purchaseOrder.clientId?.id, 'view']">{{ purchaseOrder.clientId?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/purchase-order', purchaseOrder.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/purchase-order', purchaseOrder.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(purchaseOrder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
