<mat-stepper linear #stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon>done</mat-icon>
  </ng-template>
  <!-- Step 1 -->
  <mat-step [stepControl]="AdressesFormGroup" [editable]="isEditable">
    <form [formGroup]="AdressesFormGroup">
      <ng-template matStepLabel>Livraison / Facturation</ng-template>
      <h1>Adresse de livraison</h1>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill" required>
              <mat-label>Prénom</mat-label>
              <input matInput formControlName="ShippingFirstNameCtrl" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" required>
              <mat-label>Nom</mat-label>
              <input matInput formControlName="ShippingLastNameCtrl" />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <p>
        <mat-form-field appearance="fill" required>
          <mat-label>Rue</mat-label>
          <textarea matInput formControlName="ShippingStreetCtrl"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" required>
          <mat-label>Complément</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </p>

      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill" required>
              <mat-label>Ville</mat-label>
              <input matInput formControlName="ShippingCityCtrl" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" required>
              <mat-label>Etat</mat-label>
              <input matInput formControlName="ShippingStateCtrl" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" required>
              <mat-label>Code Postal</mat-label>
              <input matInput #postalCode maxlength="5" formControlName="ShippingZipCodeCtrl" />
              <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <p></p>
      <h1>Adresse de facturation</h1>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill" required>
              <mat-label>Prénom</mat-label>
              <input matInput formControlName="BillingFirstNameCtrl" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" required>
              <mat-label>Nom</mat-label>
              <input matInput formControlName="BillingLastNameCtrl" />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <p>
        <mat-form-field appearance="fill" required>
          <mat-label>Rue</mat-label>
          <textarea matInput formControlName="BillingStreetCtrl"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" required>
          <mat-label>Complément</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </p>

      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="fill" required>
              <mat-label>Ville</mat-label>
              <input matInput formControlName="BillingCityCtrl" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" required>
              <mat-label>Etat</mat-label>
              <input matInput formControlName="BillingStateCtrl" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" required>
              <mat-label>Code Postal</mat-label>
              <input matInput #postalCode maxlength="5" formControlName="BillingZipCodeCtrl" />
              <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div>
        <button mat-stroked-button color="primary" matStepperNext>Valider</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 2 -->
  <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Choix Livraison / Paiement</ng-template>
      <p>
        <mat-label>Mode Livraison :</mat-label>
        <mat-radio-group formControlName="SelectShippingMode" [(ngModel)]="selectedShippingMode">
          <mat-radio-button *ngFor="let ShippingFee of shippingFees" [value]="ShippingFee">
            {{ ShippingFee.shippingMode }}
          </mat-radio-button>
        </mat-radio-group>
      </p>
      <p>
        <mat-label>Mode Paiement :</mat-label>
        <mat-radio-group formControlName="SelectPaymentMode" [(ngModel)]="selectedPaymentMode">
          <mat-radio-button *ngFor="let PaymentFee of paymentFees" [value]="PaymentFee.fees">
            {{ PaymentFee.paymentMode }}
          </mat-radio-button>
        </mat-radio-group>
      </p>
      <div>
        <button mat-stroked-button color="primary" matStepperPrevious>Retour</button>
        <button mat-stroked-button color="primary" matStepperNext>Suite</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 3 -->
  <mat-step>
    <ng-template matStepLabel>Validation Commande</ng-template>
    <mat-label>Recapitulatif Commande</mat-label>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="article">
        <th mat-header-cell *matHeaderCellDef>Article</th>
        <td mat-cell *matCellDef="let element">{{ element.article }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="quantite">
        <th mat-header-cell *matHeaderCellDef>Article</th>
        <td mat-cell *matCellDef="let element">{{ element.quantite }}</td>
        <td mat-footer-cell *matFooterCellDef>Sous-Total</td>
      </ng-container>
      <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef>Prix</th>
        <td mat-cell *matCellDef="let element">
          {{ element.prix }}
          <mat-icon>euro</mat-icon>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          {{ totalPriceCart }}
          <mat-icon>euro</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
    <p>
      <mat-label>Mode Livraison :</mat-label>
      {{ selectedShippingMode.fees! }}
    </p>
    <p>
      <mat-label>ShippingFee :</mat-label>
      {{ selectedShippingMode }}
    </p>
    <p>
      <mat-label>Mode Paiement :</mat-label>
      {{ selectedPaymentMode }}
    </p>
    <div>
      <button mat-stroked-button color="primary" matStepperPrevious>Retour</button>
      <button mat-stroked-button color="primary" (click)="stepper.reset()">Confirmer et Payer</button>
    </div>
  </mat-step>
</mat-stepper>
