<mat-stepper linear #stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon>done</mat-icon>
  </ng-template>
  <!-- Step 1 -->
  <mat-step [stepControl]="adressesFormGroup" [editable]="isEditable">
    <ng-template matStepLabel>Shipping / Billing Adresses</ng-template>
    <form [formGroup]="adressesFormGroup" class="adresses">
      <div class="left-side">
        <h2>Shipping Adress</h2>
        <mat-divider></mat-divider>
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="fill" required>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="shippingFirstNameCtrl" [(ngModel)]="selectedShippingFirstName" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" required>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="shippingLastNameCtrl" [(ngModel)]="selectedShippingLastName" />
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <mat-form-field appearance="fill" required>
            <mat-label>Street</mat-label>
            <textarea matInput formControlName="shippingStreetCtrl" [(ngModel)]="selectedShippingStreet"></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Complement</mat-label>
            <textarea matInput formControlName="shippingComplementCtrl" [(ngModel)]="selectedShippingComplement"></textarea>
          </mat-form-field>
        </p>

        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="fill" required>
                <mat-label>City</mat-label>
                <input matInput formControlName="shippingCityCtrl" [(ngModel)]="selectedShippingCity" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" required>
                <mat-label>State</mat-label>
                <input matInput formControlName="shippingStateCtrl" [(ngModel)]="selectedShippingState" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="fill" required>
                <mat-label>ZIP Code</mat-label>
                <input matInput #postalCode maxlength="5" formControlName="shippingZipCodeCtrl" [(ngModel)]="selectedShippingZipCode" />
                <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
      <div class="right-side">
        <h2>Billing Adress</h2>
        <mat-divider></mat-divider>
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="fill" required>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="billingFirstNameCtrl" [(ngModel)]="selectedBillingFirstName" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" required>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="billingLastNameCtrl" [(ngModel)]="selectedBillingLastName" />
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <mat-form-field appearance="fill" required>
            <mat-label>Street</mat-label>
            <textarea matInput formControlName="billingStreetCtrl" [(ngModel)]="selectedBillingStreet"></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Complement</mat-label>
            <textarea matInput formControlName="billingComplementCtrl" [(ngModel)]="selectedBillingComplement"></textarea>
          </mat-form-field>
        </p>

        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="fill" required>
                <mat-label>City</mat-label>
                <input matInput formControlName="billingCityCtrl" [(ngModel)]="selectedBillingCity" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" required>
                <mat-label>State</mat-label>
                <input matInput formControlName="billingStateCtrl" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="fill" required>
                <mat-label>ZIP Code</mat-label>
                <input matInput #postalCode maxlength="5" formControlName="billingZipCodeCtrl" [(ngModel)]="selectedBillingZipCode" />
                <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </form>
    <div>
      <button mat-stroked-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <!-- Step 2 -->
  <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Shipping / Payment Modes</ng-template>
      <p>
        <mat-label>Shipping Mode :</mat-label>
        <mat-radio-group formControlName="selectShippingMode" [(ngModel)]="selectedShippingMode">
          <mat-radio-button *ngFor="let shippingFee of shippingFees" [value]="shippingFee">
            {{ shippingFee.shippingMode }} : {{ shippingFee.fees | currency }}
          </mat-radio-button>
        </mat-radio-group>
      </p>
      <p>
        <mat-label>Payment Mode :</mat-label>
        <mat-radio-group formControlName="selectPaymentMode" [(ngModel)]="selectedPaymentMode">
          <mat-radio-button *ngFor="let paymentFee of paymentFees" [value]="paymentFee">
            {{ paymentFee.paymentMode }} : {{ paymentFee.fees | currency }}
          </mat-radio-button>
        </mat-radio-group>
      </p>
      <div>
        <button mat-stroked-button color="primary" matStepperPrevious>Previous</button>
        <button mat-stroked-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 3 -->
  <mat-step>
    <ng-template matStepLabel>Order Validation</ng-template>
    <div class="order-validation">
      <div class="left-side">
        <h2>Order Summary</h2>
        <table mat-table [dataSource]="dataSource" class="cart-item-card mat-elevation-z8">
          <ng-container matColumnDef="article">
            <th mat-header-cell *matHeaderCellDef>Item</th>
            <td mat-cell *matCellDef="let element">{{ element.article }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="quantite">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let element">{{ element.quantite }}</td>
            <td mat-footer-cell *matFooterCellDef>Subtotal</td>
          </ng-container>
          <ng-container matColumnDef="prix">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">
              {{ element.prix | currency }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{ totalPriceCart | currency }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
        <div class="total">
          <div class="sous-total">
            <mat-label>Shipping Mode : </mat-label>
            {{ selectedShippingMode?.shippingMode }}
            <div class="sous-montant">{{ selectedShippingMode?.fees | currency }}</div>
          </div>
          <div class="sous-total">
            <mat-label>Payment Mode : </mat-label>
            {{ selectedPaymentMode?.paymentMode }}
            <div class="sous-montant">{{ selectedPaymentMode?.fees | currency }}</div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="sous-total">
          <h2>Total</h2>
          <div class="sous-montant">
            <h2>{{ getTotalCommandPrice() | currency }}</h2>
          </div>
        </div>
        <!-- Card Adresses -->
        <div>
          <button mat-stroked-button color="primary" matStepperPrevious>Previous</button>
          <button mat-raised-button color="primary" (click)="processOrder()">Confirm and Pay</button>
        </div>
      </div>
      <div class="right-side">
        <mat-card class="d-flex flex-column order-card justify-content-between mat-elevation-z8 adress-card" style="flex: 1">
          <div class="d-flex flex-column px-4">
            <div>Shipping Adress</div>
            <div class="recap-adresse">
              {{ selectedShippingFirstName }} {{ selectedShippingLastName }}<br />
              {{ selectedShippingStreet }} {{ selectedShippingComplement }} <br />
              {{ selectedShippingZipCode }} {{ selectedShippingCity }} {{ selectedShippingState }}
            </div>
            <mat-label>Billing Adress</mat-label>
            <div class="recap-adresse">
              {{ selectedBillingFirstName }} {{ selectedBillingLastName }}<br />
              {{ selectedBillingStreet }} {{ selectedBillingComplement }} <br />
              {{ selectedBillingZipCode }} {{ selectedBillingCity }} {{ selectedBillingState }}
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-step>
</mat-stepper>
