<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-client-heading" data-cy="ClientCreateUpdateHeading" jhiTranslate="canyonMeApp.client.home.createOrEditLabel">
        Create or edit a Client
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="canyonMeApp.client.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('id')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="canyonMeApp.client.birthDate" for="field_birthDate">Birth Date</label>
          <input type="text" class="form-control" name="birthDate" id="field_birthDate" data-cy="birthDate" formControlName="birthDate" />
          <div *ngIf="editForm.get('birthDate')!.invalid && (editForm.get('birthDate')!.dirty || editForm.get('birthDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('birthDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="canyonMeApp.client.billingAddress" for="field_billingAddress"
            >Billing Address</label
          >
          <select
            class="form-control"
            id="field_billingAddress"
            data-cy="billingAddress"
            name="billingAddress"
            formControlName="billingAddress"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                addressOption.id === editForm.get('billingAddress')!.value?.id ? editForm.get('billingAddress')!.value : addressOption
              "
              *ngFor="let addressOption of billingAddressesCollection; trackBy: trackAddressById"
            >
              {{ addressOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="canyonMeApp.client.shippingAddress" for="field_shippingAddress"
            >Shipping Address</label
          >
          <select
            class="form-control"
            id="field_shippingAddress"
            data-cy="shippingAddress"
            name="shippingAddress"
            formControlName="shippingAddress"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                addressOption.id === editForm.get('shippingAddress')!.value?.id ? editForm.get('shippingAddress')!.value : addressOption
              "
              *ngFor="let addressOption of shippingAddressesCollection; trackBy: trackAddressById"
            >
              {{ addressOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
