<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-purchase-order-heading"
        data-cy="PurchaseOrderCreateUpdateHeading"
        jhiTranslate="canyonMeApp.purchaseOrder.home.createOrEditLabel"
      >
        Create or edit a Purchase Order
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="canyonMeApp.purchaseOrder.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('id')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="canyonMeApp.purchaseOrder.orderDate" for="field_orderDate">Order Date</label>
          <div class="input-group">
            <input
              id="field_orderDate"
              data-cy="orderDate"
              type="text"
              class="form-control"
              name="orderDate"
              ngbDatepicker
              #orderDateDp="ngbDatepicker"
              formControlName="orderDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="orderDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div *ngIf="editForm.get('orderDate')!.invalid && (editForm.get('orderDate')!.dirty || editForm.get('orderDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('orderDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="canyonMeApp.purchaseOrder.orderStateId" for="field_orderStateId"
            >Order State Id</label
          >
          <select class="form-control" name="orderStateId" formControlName="orderStateId" id="field_orderStateId" data-cy="orderStateId">
            <option [ngValue]="null">{{ 'canyonMeApp.OrderState.null' | translate }}</option>
            <option value="NEW">{{ 'canyonMeApp.OrderState.NEW' | translate }}</option>
            <option value="TO_COMPLETE">{{ 'canyonMeApp.OrderState.TO_COMPLETE' | translate }}</option>
            <option value="VALIDATED">{{ 'canyonMeApp.OrderState.VALIDATED' | translate }}</option>
            <option value="PAYED">{{ 'canyonMeApp.OrderState.PAYED' | translate }}</option>
            <option value="TO_SEND">{{ 'canyonMeApp.OrderState.TO_SEND' | translate }}</option>
            <option value="SENT">{{ 'canyonMeApp.OrderState.SENT' | translate }}</option>
          </select>
          <div
            *ngIf="editForm.get('orderStateId')!.invalid && (editForm.get('orderStateId')!.dirty || editForm.get('orderStateId')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('orderStateId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="canyonMeApp.purchaseOrder.shippingMode" for="field_shippingMode"
            >Shipping Mode</label
          >
          <input
            type="text"
            class="form-control"
            name="shippingMode"
            id="field_shippingMode"
            data-cy="shippingMode"
            formControlName="shippingMode"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="canyonMeApp.purchaseOrder.shippingFees" for="field_shippingFees"
            >Shipping Fees</label
          >
          <input
            type="number"
            class="form-control"
            name="shippingFees"
            id="field_shippingFees"
            data-cy="shippingFees"
            formControlName="shippingFees"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="canyonMeApp.purchaseOrder.paymentMode" for="field_paymentMode"
            >Payment Mode</label
          >
          <input
            type="text"
            class="form-control"
            name="paymentMode"
            id="field_paymentMode"
            data-cy="paymentMode"
            formControlName="paymentMode"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="canyonMeApp.purchaseOrder.paymentFees" for="field_paymentFees"
            >Payment Fees</label
          >
          <input
            type="number"
            class="form-control"
            name="paymentFees"
            id="field_paymentFees"
            data-cy="paymentFees"
            formControlName="paymentFees"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="canyonMeApp.purchaseOrder.clientId" for="field_clientId">Client Id</label>
          <select class="form-control" id="field_clientId" data-cy="clientId" name="clientId" formControlName="clientId">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clientOption.id === editForm.get('clientId')!.value?.id ? editForm.get('clientId')!.value : clientOption"
              *ngFor="let clientOption of clientsSharedCollection; trackBy: trackClientById"
            >
              {{ clientOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
