<div>
  <h2 id="page-heading" data-cy="ProductHeading">
    <span jhiTranslate="canyonMeApp.product.home.title">Products</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="canyonMeApp.product.home.refreshListLabel">Refresh List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
    <span jhiTranslate="canyonMeApp.product.home.notFound">No products found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="products && products.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="canyonMeApp.product.id">Id</span></th>
          <th scope="col"><span jhiTranslate="canyonMeApp.product.name">Name</span></th>
          <th scope="col"><span jhiTranslate="canyonMeApp.product.description">Description</span></th>
          <th scope="col"><span jhiTranslate="canyonMeApp.product.unitPrice">Unit Price</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/catalog', product.id]">{{ product.id }}</a>
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.unitPrice }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/catalog', product.id]" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
              <jhi-button-add-cart class="pl-1" [product]="product"></jhi-button-add-cart>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
