<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="picture">
      <h2 data-cy="pictureDetailsHeading"><span jhiTranslate="canyonMeApp.picture.detail.title">Picture</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ picture.id }}</span>
        </dd>
        <dt><span jhiTranslate="canyonMeApp.picture.link">Link</span></dt>
        <dd>
          <span>{{ picture.link }}</span>
        </dd>
        <dt><span jhiTranslate="canyonMeApp.picture.productId">Product Id</span></dt>
        <dd>
          <div *ngIf="picture.productId">
            <a [routerLink]="['/product', picture.productId?.id, 'view']">{{ picture.productId?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/picture', picture.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
