<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="address">
      <h2 data-cy="addressDetailsHeading"><span jhiTranslate="canyonMeApp.address.detail.title">Address</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ address.id }}</span>
        </dd>
        <dt><span jhiTranslate="canyonMeApp.address.streetNumber">Street Number</span></dt>
        <dd>
          <span>{{ address.streetNumber }}</span>
        </dd>
        <dt><span jhiTranslate="canyonMeApp.address.street">Street</span></dt>
        <dd>
          <span>{{ address.street }}</span>
        </dd>
        <dt><span jhiTranslate="canyonMeApp.address.compliment1">Compliment 1</span></dt>
        <dd>
          <span>{{ address.compliment1 }}</span>
        </dd>
        <dt><span jhiTranslate="canyonMeApp.address.compliment2">Compliment 2</span></dt>
        <dd>
          <span>{{ address.compliment2 }}</span>
        </dd>
        <dt><span jhiTranslate="canyonMeApp.address.zipCode">Zip Code</span></dt>
        <dd>
          <span>{{ address.zipCode }}</span>
        </dd>
        <dt><span jhiTranslate="canyonMeApp.address.city">City</span></dt>
        <dd>
          <span>{{ address.city }}</span>
        </dd>
        <dt><span jhiTranslate="canyonMeApp.address.state">State</span></dt>
        <dd>
          <span>{{ address.state }}</span>
        </dd>
        <dt><span jhiTranslate="canyonMeApp.address.country">Country</span></dt>
        <dd>
          <span>{{ address.country }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/entities', 'address', address.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
