<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <!--       <h2 data-cy="productDetailsHeading"><span jhiTranslate="canyonMeApp.product.detail.title">Product</span></h2>
 -->
      <div class="product-main">

        <!-- IMAGES -->
        <div class="imgs-div">
          <div class="other-imgs">
            <div class="other-img"></div>
            <div class="other-img"></div>
            <div class="other-img"></div>
            <div class="other-img"></div>
            <div class="other-img"></div>
          </div>
          <div class="v-divider"></div>
          <div class="img-principale"></div>
        </div>



        <!-- Informations -->
        <div class="info-div">
          <div class="info-text">
            <h1> {{ product.name }} </h1>
            <p> {{ product.description }} </p>
          </div>
          <div class="info-end">
            <div class="info-pricing">
              <p>Price : {{ product.unitPrice | currency }}</p>
              <div class="button-end">
                <button mat-raised-button color="primary" type="submit" (click)="previousState()">
                  <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                </button>
                <jhi-button-add-cart [product]="product"></jhi-button-add-cart>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <span>{{ errmsg }}</span>
  </div>
</div>
