<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading"><span jhiTranslate="canyonMeApp.product.detail.title">Product</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="canyonMeApp.product.id">Id</span></dt>
        <dd>
          <span>{{ product.id }}</span>
        </dd>
        <dt><span jhiTranslate="canyonMeApp.product.name">Name</span></dt>
        <dd>
          <span>{{ product.name }}</span>
        </dd>
        <dt><span jhiTranslate="canyonMeApp.product.description">Description</span></dt>
        <dd>
          <span>{{ product.description }}</span>
        </dd>
        <dt><span jhiTranslate="canyonMeApp.product.unitPrice">Unit Price</span></dt>
        <dd>
          <span>{{ product.unitPrice }}</span>
        </dd>
      </dl>

      <div class="align-buttons">
        <button mat-raised-button color="primary" type="submit" (click)="previousState()">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>
        <!-- Bouton ajout Panier -->
        <jhi-button-add-cart [product]="product"></jhi-button-add-cart>
      </div>
    </div>
    <span>{{ errmsg }}</span>
  </div>
</div>
