<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-payment-fees-heading"
        data-cy="PaymentFeesCreateUpdateHeading"
        jhiTranslate="canyonMeApp.paymentFees.home.createOrEditLabel"
      >
        Create or edit a Payment Fees
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="canyonMeApp.paymentFees.paymentMode" for="field_paymentMode">Payment Mode</label>
          <select class="form-control" name="paymentMode" formControlName="paymentMode" id="field_paymentMode" data-cy="paymentMode">
            <option [ngValue]="null">{{ 'canyonMeApp.PaymentMode.null' | translate }}</option>
            <option value="CREDIT_CARD">Credit Card</option>
            <option value="PAYPAL">Paypal</option>
          </select>
          <div *ngIf="editForm.get('paymentMode')!.invalid && (editForm.get('paymentMode')!.dirty || editForm.get('paymentMode')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentMode')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="canyonMeApp.paymentFees.fees" for="field_fees">Fees</label>
          <input type="number" class="form-control" name="fees" id="field_fees" data-cy="fees" formControlName="fees" />
          <div *ngIf="editForm.get('fees')!.invalid && (editForm.get('fees')!.dirty || editForm.get('fees')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fees')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('fees')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
